body {
    font-family: Arial, sans-serif;
}
.wrapper-to-centre {
    max-width: 400px;
    margin: 30px auto;
}


h1 {
    color: #800020;
    font-style: italic;
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
}
ul {
    margin: 0;
    padding: 0;
}
    li {
    list-style: none; 
    color: rgb(135,135,135);
    text-transform: capitalize;
}
.weather-app {
    padding: 20px;
    border: solid salmon;
    border-radius: 10px;
}

.temperature img {
    margin-right: 3px;
    padding: 0;
}

.temperature strong {
    color: red;
    font-size: 36px;
    position: relative;
    top: 8px;
    
}

.temperature .units {
    position: relative;
    top: -8px;
    font-size: small;
    left: 6px;
}

a:link {
    text-decoration: none;
}
