body {
    font-family: Arial, sans-serif;
}
.wrapper-to-centre {
    max-width: 400px;
    margin: 30px auto;
}


h1 {
    color: orangered;
    font-style: italic;
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
}
ul {
    margin: 0;
    padding: 0;
}
    li {
    list-style: none; 
    color: rgb(135,135,135);
}
li:first-letter{
    text-transform: capitalize;
}
.weather-app {
    padding: 20px;
    border: solid salmon;
    border-radius: 10px;
}

.temperature img {
    margin-right: 3px;
    padding: 0;
}

.temperature strong {
    color: blue;
    font-size: 36px;
    position: relative;
    top: 8px;
    
}

.temperature .units {
    font-size: 24px;
}

.weather-forecast
{
    margin-top: 20px;
    text-align: center;
    color: black
}

.weather-forecast-day
{
    font-size: 13px;
    opacity: 40%;
}

.weather-forecast-temp
{
    font-size: 11px;
}

.weather-forecast-temp-low
{
    opacity: 40%;
}
